################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ice_light_server/.vs/ice_light_server
/ice_light_server/obj
/ice_light_server/bin/Debug/net8.0
